// HACK: Stolen from brick-common/styles/params.styl

$_bgBaseColor = #858585;
$_bgSelectBaseColor = #E1E1E1;
$_bgHighlightColor = #A0A0A0;

$highlight = #0095DD;
$darkBG = #00202F;
$barFG = #fff;

$barHeight = 45px;
$tapTargetSize = 32px;

$COMPONENT_CUSTOM_FONT_NAME = "Fira Sans";
$fontFamilyPrimary = $COMPONENT_CUSTOM_FONT_NAME, "Fira Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$COMPONENT_UI_LINE_HEIGHT = 19px;
$COMPONENT_UI_FONT_SIZE = 14px;
$COMPONENT_UI_HEADER_FONT_SIZE = 20px;
$COMPONENT_UI_LINE_PADDING = ($COMPONENT_UI_LINE_HEIGHT - $COMPONENT_UI_FONT_SIZE) / 2; // for when you don't want to specify line-height
$COMPONENT_UI_TEXT_COLOR = #D4D4D4;
$COMPONENT_UI_TEXT_COLOR_SELECTED = #F2F2F2;
$COMPONENT_UI_TEXT_COLOR_HOVER = mix($COMPONENT_UI_TEXT_COLOR, $COMPONENT_UI_TEXT_COLOR_SELECTED, 25%);

// responsive breakpoints
$xs = {                end:  768px, name: xs }
$s  = { start:  768px, end:  992px, name: s  }
$m  = { start:  992px, end: 1200px, name: m  }
$l  = { start: 1200px,              name: l  }

// HACK: Stolen from brick-common/styles/themes/default/params.styl

// colors
$color-alpha = #333;
$color-beta = #FFF;
$color-gamma = #4D4D4D;
$color-delta = #5F5F5F;
$color-epsilon = #858585;
$color-zeta = #A6A6A6;
$color-eta = #C7C7C7;
$color-theta = #E7E7E7;
$color-iota = #F4F4F4;
$highlight-color = #000;
$button-transition = all 0s;
$button-transition-delay = 300ms;

// dimensions
$dim-micro = 6px;
$dim-small = 14px;
$dim-mega = 60px;

/////

$font-small = 14px;
$font-medium = 17px;
$font-large = 23px;
$color-brand-blue = #00caf2;
$color-button-border = #d6d6d6;

@keyframes brickSelectTranslateIn {
    0% { opacity: 0; transform: translateY(100px); }
    100% { opacity: 1; transform: translateY(0px); }
}
@keyframes brickSelectFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes brickSelectFadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes brickSelectGrow {
    0% { transform: scale(0); }
    50% { transform: scale(1); }
    50% { transform: scale(1); opacity: 1; }
    80% { opacity: 1; }
    100% { transform: scale(1); opacity: 0; }
}


[multiple] .brick-select-proxy-root {
  .dialogue {
    .panel {
      footer.single { display: none; }
      footer.multiple { display: flex; }
    }
  }
}

.brick-select-proxy-root {

  .dialogue {
    visibility: hidden;
    .panel { opacity: 0; }
  }

  .dialogue[show] {
    visibility: visible;
    .panel { opacity: 1; }
  }

  .dialogue[show="in"] {
    visibility: visible;

    animation-name: brickSelectFadeIn;
    animation-duration: 0.3s;
    -webkit-animation-name: brickSelectFadeIn;
    -webkit-animation-duration: 0.3s;

    .panel {
      opacity: 0;
      animation-name: brickSelectTranslateIn;
      animation-delay: 0.4s;
      animation-duration: 0.3s;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
      -webkit-animation-name: brickSelectTranslateIn;
      -webkit-animation-delay: 0.4s;
      -webkit-animation-duration: 0.3s;
      -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
      menu {
        button {
            transition: none;
        }
      }
    }
  }

  .dialogue[show="out"] {
    visibility: visible;
    animation-name: brickSelectFadeOut;
    animation-delay: 0.4s;
    animation-duration: 0.3s;
    -webkit-animation-name: brickSelectFadeOut;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-duration: 0.3s;

    .panel {
      opacity: 0;
      animation-name: brickSelectFadeOut;
      animation-duration: 0.3s;
      animation-timing-function: linear;
      -webkit-animation-name: brickSelectFadeOut;
      -webkit-animation-duration: 0.3s;
      -webkit-animation-timing-function: linear;
      menu {
        button {
            transition: none;
        }
      }
    }
  }

  button.handle {
    position: relative;
    background: transparent;
    color: $color-alpha;
    font-family: $fontFamilyPrimary;
    font-size: $font-medium;
    width: 100%;
    height: 50px;
    font-weight: lighter;
    font-style: italic;
    font-size: $font-medium;
    text-align: inherit;
    margin: inherit;
    border: 1px solid $color-button-border;
    padding: 0rem 25px;
    transition: all 0.2;
    transition-delay:  var(--button-transition-delay, 200ms);
    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  button.handle:after {
    content: " ";
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 5px;
    right: 5px;
    border-bottom: 10px solid $highlight-color;
    border-left: 10px solid transparent;
  }

  .dialogue {
    font-family: $fontFamilyPrimary;
    font-size: $font-medium;

    background: rgba(199,199,199,0.85);
    font-style: italic;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    font-style: italic;

    .panel {

      max-height: 75%;
      max-width: 350px;
      width: 90%;
      border: 0;
      padding: 0;
      margin: auto;
      background: $color-iota;

      header {
        padding: $dim-small;
        h1 {
          text-align: center;
          font-size: 23px;
          font-weight: lighter;
          font-style: italic;
          line-height: 26px;
          color: $color-gamma;
          margin: 6px 0 24px 0;
          padding: 0;
        }
      }

      footer.single { display: flex; }
      footer.multiple { display: none; }

      footer {
        display: none;

        button {
          height: 50px;
          font-weight: lighter;
          font-style: italic;
          font-size: $font-medium;
          flex-grow: 1;
          margin: 0;
          border: 0;
          padding: 0rem 25px;
          background: $color-beta;
          color: $color-brand-blue;
          transition: all 0.2;
          transition-delay: 200ms;
          position: relative;

          &:after {
            content: " ";
            position: absolute;
            --dim-micro: $dim-micro;
            height: calc(100% - var(--dim-micro) * 2);
            width: 1px;
            top: $dim-micro;
            right: 0px;
            background: #e7e7e7;
            z-index: 1;
          }
          &:active {
            background-color: $color-brand-blue;
            color: #fff;
            transition: none;
          }
          &:active:after {
            z-index: -1;
          }
          &:last-child:after {
            display: none;
          }
        }
      }

      .menu {
        max-height: 350px; // HACK
        overflow-y: auto;

        padding: 0;
        margin: 0;
        width: 100%;

        .menu-item {

          padding: $dim-small;
          color: $color-gamma;

          box-sizing: border-box;
          list-style: none;
          position: relative;
          z-index: 1;
          overflow: hidden;
          display: flex;
          align-items: center;
          position: relative;

          &.selected {
            color: $color-brand-blue;
            .label {
              font-weight: bold;
              flex-grow: 1;
            }
            .icon:before {
              content: "\f00c";
              font-size: 18px;
            }
            .icon {
              display: inline-block;
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }

          &:after {
            content: " ";
            position: absolute;
            bottom: 0px;
            left: $dim-small;
            --dim-small: $dim-small;
            width: calc(100% - var(--dim-small) * 2);
            height: 1px;
            margin-left: auto;
            margin-right: auto;

            background: $color-theta;

            &:last-child {
              display: none;
            }
          }

          .feedback {
            content: "*";
            position: absolute;
            opacity: 0;
            border-radius: 50%;
            transform-origin: center center;
            background: $color-theta;
            transform: scaleX(1);
            z-index: -1;
          }

          .feedback.animate {
            animation-name: brickSelectGrow;
            animation-duration: 800ms;
            animation-iteration: 1;
          }

        }


      }

    }

  }

}
